<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <div class="name_input">
            <label for="name">Input name</label>
            <input [(ngModel)]="name" id="name" placeholder="Foma" value=""/>
            <p>Found age = {{age}}</p>
            <button (click)="getAgeByName()">Get age</button>
          </div>
          <ul class="text-center list-inline py-3" id="user-list">
            <li><a routerLink="/users" class="btn btn-info">List Users</a></li>
            <li><a routerLink="/oldest" class="btn btn-info">Get oldest</a></li>
            <li><a routerLink="/" class="btn btn-info">Hide all</a></li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
